*, h1, h2, h3, h4, h5, h6, p, ul, li {
  margin: unset;
  padding: unset;
  font-family: "Quicksand";
}

body {
  background-color: #f3f3f3;
  width: 100%;
  overflow: hidden;
  position: relative;
}

h5 {
  text-transform: uppercase;
  font-size: .75rem;
  letter-spacing: 1.5px;
}

.padForTop {
  padding-top: 5vh;
}

.fullcontain {
  width: 90%;
  margin-left: 5%;
  height: 90vh;
  background-color: #f3f3f3;
  position: relative;
}

.display {
  width: 100%;
  height: 20vh;
  background-color: #14bb38;
  border-radius: 5px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(20, 187, 56, 0.85)), to(rgba(20, 187, 56, 0.85))), url("../images/bg.jpeg");
  background-image: linear-gradient(to bottom, rgba(20, 187, 56, 0.85), rgba(20, 187, 56, 0.85)), url("../images/bg.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 0;
}

.display__total {
  font-weight: 500;
}

.display__width {
  width: 90%;
  height: 100%;
  margin-left: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.display__left {
  color: white;
  width: 67%;
  position: relative;
}

.display__right {
  width: 33%;
  text-transform: uppercase;
  color: white;
  font-weight: bold;
  font-size: .75rem;
  letter-spacing: 1px;
  position: relative;
}

.display__bill, .display__people, .display__tipperc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.display__margin {
  margin: 5px 0;
}

.absCenter {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.total__bill {
  text-align: right;
}

.totalprice {
  font-size: 2rem;
  font-weight: 500;
  margin: 10px 0;
}

.tip__percent {
  text-align: right;
}

.numpad {
  display: block;
}

.numpad__btn {
  cursor: pointer;
  width: 33.3333%;
  height: 75px;
  display: inline-block;
  position: relative;
  font-weight: bold;
  vertical-align: top;
}

.numpad__btn .number {
  pointer-events: none;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.numpad__btn .number:hover {
  -webkit-animation: transformNum .4s ease-in-out;
          animation: transformNum .4s ease-in-out;
}

.numpad__btn .num-left {
  left: 20%;
  pointer-events: none;
}

.numpad__btn .num-left img {
  height: 15px;
}

.numpad__btn .num-right {
  left: 80%;
  pointer-events: none;
}

.numpad__btn .num-right img {
  height: 20px;
}

#num-10:hover .num-refresh img {
  -webkit-animation: reloadSpin .75s infinite;
          animation: reloadSpin .75s infinite;
}

.slider {
  width: 100%;
  padding: 3vh 0;
}

.slider__display {
  width: 10%;
  display: inline-block;
  vertical-align: super;
  font-weight: bold;
  text-align: center;
}

.tip {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.tip__button {
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  cursor: pointer;
  width: 20%;
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 2px;
  background-color: #f3f3f3;
  position: relative;
  overflow: hidden;
  font-weight: bold;
  letter-spacing: 1px;
}

.tip__button:focus {
  outline: none;
}

.setTip {
  color: #14bb38;
  border: 1px solid #14bb38;
  font-size: 1rem;
}

.test {
  width: 100%;
  height: 100%;
  background-color: #14bb38;
  position: absolute;
  top: 100%;
}

.testAnimate {
  -webkit-animation: tipSlider 2.25s ease-in-out;
          animation: tipSlider 2.25s ease-in-out;
}

.checkimg {
  height: 0;
  position: absolute;
  top: 200%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.checkAnimate {
  -webkit-animation: checkSlider 2s ease-in-out;
          animation: checkSlider 2s ease-in-out;
}

.split {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.split__button {
  cursor: pointer;
  outline: none;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
  font-size: .9rem;
  letter-spacing: 1.5px;
  width: 100%;
  height: 50px;
  border: unset;
  border-radius: 5px;
  background-color: #14bb38;
}

.split__display {
  position: relative;
  width: 100%;
}

.split__display--item {
  width: 90%;
  margin-left: 5%;
  height: 125px;
  font-weight: 500;
  font-size: 2.35rem;
  border: 1px solid #ccc;
  position: relative;
}

.split__display--item .text {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}

.split__display--item .text__head {
  font-size: .7rem;
  letter-spacing: .5px;
  text-transform: uppercase;
  display: block;
  font-weight: bold;
  line-height: 0;
}

.split__display--item .text__number {
  font-size: 2.25rem;
  line-height: 0;
  vertical-align: middle;
}

.split__text {
  display: inline-block;
}

.options {
  position: absolute;
  top: 20vh;
  width: 100%;
  height: 63vh;
}

.hidden {
  display: none;
}

@-webkit-keyframes openCircle {
  0% {
    height: 0;
    width: 0;
  }
  5% {
    height: 10vh;
    width: 10vh;
  }
  10% {
    height: 20vh;
    width: 20vh;
  }
  100% {
    height: 250vh;
    width: 250vh;
  }
}

@keyframes openCircle {
  0% {
    height: 0;
    width: 0;
  }
  5% {
    height: 10vh;
    width: 10vh;
  }
  10% {
    height: 20vh;
    width: 20vh;
  }
  100% {
    height: 250vh;
    width: 250vh;
  }
}

@-webkit-keyframes transformButton {
  0% {
    height: 100px;
    width: 100%;
  }
  100% {
    height: 100px;
    width: 100px;
  }
}

@keyframes transformButton {
  0% {
    height: 100px;
    width: 100%;
  }
  100% {
    height: 100px;
    width: 100px;
  }
}

@-webkit-keyframes transformNum {
  0% {
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
  }
  60% {
    -webkit-transform: translate(-50%, -50%) scale(1.45);
            transform: translate(-50%, -50%) scale(1.45);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
  }
}

@keyframes transformNum {
  0% {
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
  }
  60% {
    -webkit-transform: translate(-50%, -50%) scale(1.45);
            transform: translate(-50%, -50%) scale(1.45);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
  }
}

@-webkit-keyframes tipSlider {
  0% {
    top: 100%;
  }
  12% {
    top: 0%;
  }
  25% {
    top: 0%;
  }
  50% {
    top: 0%;
  }
  75% {
    top: 0%;
  }
  90% {
    top: -100%;
  }
  100% {
    top: -100%;
  }
}

@keyframes tipSlider {
  0% {
    top: 100%;
  }
  12% {
    top: 0%;
  }
  25% {
    top: 0%;
  }
  50% {
    top: 0%;
  }
  75% {
    top: 0%;
  }
  90% {
    top: -100%;
  }
  100% {
    top: -100%;
  }
}

@-webkit-keyframes checkSlider {
  0% {
    top: 200%;
    height: 0;
  }
  25% {
    top: 50%;
    height: 30%;
  }
  30% {
    top: 50%;
    height: 60%;
  }
  35% {
    top: 50%;
    height: 50%;
  }
  50% {
    top: 50%;
    height: 50%;
  }
  75% {
    top: 50%;
    height: 50%;
  }
  100% {
    top: -200%;
    height: 50%;
  }
}

@keyframes checkSlider {
  0% {
    top: 200%;
    height: 0;
  }
  25% {
    top: 50%;
    height: 30%;
  }
  30% {
    top: 50%;
    height: 60%;
  }
  35% {
    top: 50%;
    height: 50%;
  }
  50% {
    top: 50%;
    height: 50%;
  }
  75% {
    top: 50%;
    height: 50%;
  }
  100% {
    top: -200%;
    height: 50%;
  }
}

@-webkit-keyframes reloadSpin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  12% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  25% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  37% {
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  62% {
    -webkit-transform: rotate(225deg);
            transform: rotate(225deg);
  }
  75% {
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
  }
  87% {
    -webkit-transform: rotate(315deg);
            transform: rotate(315deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes reloadSpin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  12% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  25% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  37% {
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  62% {
    -webkit-transform: rotate(225deg);
            transform: rotate(225deg);
  }
  75% {
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
  }
  87% {
    -webkit-transform: rotate(315deg);
            transform: rotate(315deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.slider__ui {
  -webkit-appearance: none;
  width: 90%;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  -webkit-transition: opacity .2s;
  transition: opacity .2s;
}

.slider__ui:hover {
  opacity: 1;
}

.slider__ui::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 10px;
  height: 35px;
  background: #4CAF50;
  cursor: pointer;
}

.slider__ui::-moz-range-thumb {
  width: 10px;
  height: 35px;
  background: #4CAF50;
  cursor: pointer;
}

.goback {
  margin: auto;
  display: block;
  -webkit-animation: buttonGoBack .75s ease-in-out;
          animation: buttonGoBack .75s ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes buttonGoBack {
  0% {
    height: 50px;
  }
  10% {
    height: 43px;
  }
  20% {
    height: 40px;
  }
  100% {
    height: 90vh;
  }
}

@keyframes buttonGoBack {
  0% {
    height: 50px;
  }
  10% {
    height: 43px;
  }
  20% {
    height: 40px;
  }
  100% {
    height: 90vh;
  }
}
/*# sourceMappingURL=main.css.map */