@import "variables";

*, h1, h2, h3, h4, h5, h6, p, ul, li {
    margin: unset;
    padding: unset;
    font-family: "Quicksand";
}

body {
  background-color: rgb(243, 243, 243);
  width: 100%;
  height: 100vh;
}

h5 {
    text-transform: uppercase;
    font-size: .75rem;
    letter-spacing: 1.5px;
}

.fullcontain {
  width: 90%;
  margin-left: 5%;
  padding-top: 5vh;
  background-color: rgb(243, 243, 243);
}

.display {
    width: 100%;
    height: 18vh;
    background-color:$default-color;
    border-radius: $default-border-radius;
    background-image:
        linear-gradient(to bottom, rgba(20, 187, 56, .85), rgba(20, 187, 56, .85)),
        url("../images/bg.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    &__total {
        font-weight: 500;
    }
    &__width {
        width: 90%;
        height: 100%;
        margin-left: 5%;
        display: flex;
    }
    &__left {
        color: white;
        width: 67%;
        position: relative;
    }
    &__right {
        width: 33%;
        text-transform: uppercase;
        color: white;
        font-weight: bold;
        font-size: .65rem;
        letter-spacing: 1px;
        position: relative;
    }
    &__bill, &__people, &__tipperc {
        display: flex;
        justify-content: space-between;
    }
    &__margin {
        margin: 5px 0;
    }
}

.absCenter {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    transform: translateY(-50%);
}

.total__bill {
    text-align: right;
}

.tip__percent {
    text-align: right;
}

.numpad {
    display: block;
    &__btn {
        cursor: pointer;
        width: 33.3333%;
        height: 75px;
        // background-color: coral;
        display: inline-block;
        position: relative;
        font-weight: bold;
        vertical-align: top;
        & .number {
            pointer-events: none;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            &:hover {
                animation: transformNum .4s ease-in-out;
            }
        }
        & .num-refresh img {
            
        }
        & .num-left {
            left: 20%;
            pointer-events: none;
            & img {
                height: 15px;
                
                
            }
        }
        & .num-right {
            left: 80%;
            pointer-events: none;
            & img {
                height: 20px;
            }
        }
    }
}

#num-10:hover .num-refresh img {
    animation: reloadSpin .75s infinite;
}

.slider {
    width: 100%;
    padding: 15px 0;
}

.tip {
    display: flex;
    justify-content: space-between;
    &__button {
        transition: all .5s ease-in-out;
        &:focus {
            outline: none;
        }
        cursor: pointer;
        width: 20%;
        height: 40px;
        border: 1px solid #ccc;
        border-radius: 2px;
        background-color: rgb(243, 243, 243,);
        position: relative;
        overflow: hidden;
        font-weight: bold;
        letter-spacing: 1px;
        // &:hover .test {
        //     animation: tipSlider 2.25s ease-in-out;
        // }
        // &:hover .checkimg {
        //     animation: checkSlider 2s ease-in-out;
        // }
    }
}

.setTip {
    color: $default-color;
    border: 1px solid $default-color;
    font-size: 1rem;
}

.test {
    width: 100%;
    height: 100%;
    background-color: $default-color;
    position: absolute;
    top: 100%;
}

.testAnimate {
    animation: tipSlider 2.25s ease-in-out;
}

.checkimg {
    height: 0;
    position: absolute;
    top: 200%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.checkAnimate {
    animation: checkSlider 2s ease-in-out;
}

.split {
    &__button {
        cursor: pointer;
        outline: none;
        text-transform: uppercase;
        font-weight: bold;
        color: white;
        font-size: .9rem;
        letter-spacing: 1.5px;
        width: 100%;
        height: 50px;
        border: unset;
        border-radius: $default-border-radius;
        background-color: $default-color;
    }
    &__display {
        position: relative;
        width: 100%;
        &--item {
            width: 90%;
            margin-left: 5%;
            height: 125px;
            font-weight: 500;
            font-size: 2.35rem;
            border:1px solid #ccc;
            position: relative;
            & .text {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                text-align: center;
                &__head {
                    font-size: .7rem;
                    letter-spacing: .5px;
                    text-transform: uppercase;
                    display:block;
                    font-weight: bold;
                    line-height: 0;
                }
                &__number {
                    font-size: 2.25rem;
                    line-height: 0;
                    vertical-align: middle;
                }
            }
        }
    }
    &__text {
        display: inline-block;
    }
}

.hidden {
    display: none;
}

@keyframes transformButton { 
  0% {
    height: 100px;
    width: 100%;
  }

  100% {
    height: 100px;
    width: 100px;
  }
}

@keyframes transformNum {
    0% {
        transform: translate(-50%, -50%) scale(1);
    }

    60% {
        transform: translate(-50%, -50%) scale(1.45);
    }

    100% {
        transform: translate(-50%, -50%) scale(1);
    }
}

@keyframes tipSlider {
    0% {
        top: 100%;
    }
    12% {
        top: 0%;
    }
    25% {
        top: 0%;
    }
    50% {
        top: 0%;
    }
    75% {
        top: 0%;
    }
    90% {
        top: -100%;
    }
    100% {
        top: -100%;
    }
}

@keyframes checkSlider {
    0% {
        top: 200%;
        height: 0;
    }
    25% {
        top: 50%;
        height: 30%;
    }
    30% {
        top: 50%;
        height: 60%;
    }
    35% {
        top: 50%;
        height: 50%;
    }
    50% {
        top: 50%;
        height: 50%;
    }
    75% {
        top: 50%;
        height: 50%;
    }
    100% {
        top: -200%;
        height: 50%;
    }
}

@keyframes reloadSpin {
    0% {
        transform: rotate(0deg);
    }
    12% {
        transform: rotate(45deg);
    }
    25% {
        transform: rotate(90deg);
    }
    37% {
        transform: rotate(135deg);
    }
    50% {
        transform: rotate(180deg);
    }
    62% {
        transform: rotate(225deg);
    }
    75% {
        transform: rotate(270deg);
    }
    87% {
        transform: rotate(315deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

//Input Range

// input[type=range] {
//     -webkit-appearance: none;
//     margin: 18px 0;
//     width: 100%;
//   }
//   input[type=range]:focus {
//     outline: none;
//   }
//   input[type=range]::-webkit-slider-runnable-track {
//     width: 100%;
//     height: 8.4px;
//     cursor: pointer;
//     animate: 0.2s;
//     box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
//     // background: #3071a9;
//     border-radius: 1.3px;
//     border: 0.2px solid #010101;
//   }
//   input[type=range]::-webkit-slider-thumb {
//     box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
//     border: 1px solid #000000;
//     height: 36px;
//     width: 16px;
//     border-radius: 3px;
//     background: #ffffff;
//     cursor: pointer;
//     -webkit-appearance: none;
//     margin-top: -14px;
//   }
//   input[type=range]:focus::-webkit-slider-runnable-track {
//     background: #367ebd;
//   }
//   input[type=range]::-moz-range-track {
//     width: 100%;
//     height: 8.4px;
//     cursor: pointer;
//     animate: 0.2s;
//     box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
//     background: #3071a9;
//     border-radius: 1.3px;
//     border: 0.2px solid #010101;
//   }
//   input[type=range]::-moz-range-thumb {
//     box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
//     border: 1px solid #000000;
//     height: 36px;
//     width: 16px;
//     border-radius: 3px;
//     background: #ffffff;
//     cursor: pointer;
//   }
//   input[type=range]::-ms-track {
//     width: 100%;
//     height: 8.4px;
//     cursor: pointer;
//     animate: 0.2s;
//     background: transparent;
//     border-color: transparent;
//     border-width: 16px 0;
//     color: transparent;
//   }
//   input[type=range]::-ms-fill-lower {
//     background: #2a6495;
//     border: 0.2px solid #010101;
//     border-radius: 2.6px;
//     box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
//   }
//   input[type=range]::-ms-fill-upper {
//     background: #3071a9;
//     border: 0.2px solid #010101;
//     border-radius: 2.6px;
//     box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
//   }
//   input[type=range]::-ms-thumb {
//     box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
//     border: 1px solid #000000;
//     height: 36px;
//     width: 16px;
//     border-radius: 3px;
//     background: #ffffff;
//     cursor: pointer;
//   }
//   input[type=range]:focus::-ms-fill-lower {
//     background: #3071a9;
//   }
//   input[type=range]:focus::-ms-fill-upper {
//     background: #367ebd;
//   }
.slider__ui {
    -webkit-appearance: none;
    width: 100%;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider__ui:hover {
    opacity: 1;
  }
  
  .slider__ui::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 10px;
    height: 35px;
    background: #4CAF50;
    cursor: pointer;
  }
  
  .slider__ui::-moz-range-thumb {
    width: 10px;
    height: 35px;
    background: #4CAF50;
    cursor: pointer;
  }