@import "variables";

*, h1, h2, h3, h4, h5, h6, p, ul, li {
    margin: unset;
    padding: unset;
    font-family: "Quicksand";
}

body {
  background-color: rgb(243, 243, 243);
  width: 100%;
  height: 100vh;
}

.fullcontain {
  width: 90%;
  margin-left: 5%;
  background-color: rgb(243, 243, 243);
}

.display {
    width: 100%;
    height: 18vh;
    background-color:$default-color;
    border-radius: $default-border-radius;
}

.numpad {
    &__btn {
        width: 33.3333%;
        height: 100px;
        // background-color: coral;
        display: inline-block;
        position: relative;
        font-weight: bold;
        & .number {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            &:hover {
                animation: transformNum .4s ease-in-out;
            }
        }
        & .num-left {
            left: 20%;
        }
        & .num-right {
            left: 80%;
        }
    }
}

.slider {
    width: 50%;
}

.tip {
    display: flex;
    justify-content: space-between;
    &__button {
        width: 20%;
        height: 40px;
        border: 1px solid black;
        border-radius: 2px;
        background-color: rgb(243, 243, 243,);
        position: relative;
        overflow: hidden;
        // overflow: hidden;
        &:hover .test {
            animation: tipSlider 2.25s ease-in-out;
        }
        &:hover .checkimg {
            animation: checkSlider 2s ease-in-out;
        }
    }
}

.test {
    width: 100%;
    height: 100%;
    background-color: $default-color;
    position: absolute;
    top: 100%;
}

.checkimg {
    height: 0;
    position: absolute;
    top: 200%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.split {
    &:hover .split__button {
        animation: transformButton .5s ease-in-out;
          animation-fill-mode: forwards;
    }
    &__button {
        text-transform: uppercase;
        font-weight: bold;
        color: white;
        font-size: .9rem;
        letter-spacing: 1.5px;
        width: 100%;
        height: 50px;
        border: unset;
        border-radius: $default-border-radius;
        background-color: $default-color;
    }
    &__display {
        &--item {
            width: 100%;
            height: 100px;
            border:1px solid blue;
        }
    }
}

.hidden {
    display: none;
}

@keyframes transformButton { 
  0% {
    height: 100px;
    width: 100%;
  }

  100% {
    height: 100px;
    width: 100px;
  }
}

@keyframes transformNum {
    0% {
        transform: translate(-50%, -50%) scale(1);
    }

    60% {
        transform: translate(-50%, -50%) scale(1.45);
    }

    100% {
        transform: translate(-50%, -50%) scale(1);
    }
}

@keyframes tipSlider {
    0% {
        top: 100%;
    }
    12% {
        top: 0%;
    }
    25% {
        top: 0%;
    }
    50% {
        top: 0%;
    }
    75% {
        top: 0%;
    }
    90% {
        top: -100%;
    }
    100% {
        top: -100%;
    }
}

@keyframes checkSlider {
    0% {
        top: 200%;
        height: 0;
    }
    25% {
        top: 50%;
        height: 30%;
    }
    30% {
        top: 50%;
        height: 60%;
    }
    35% {
        top: 50%;
        height: 50%;
    }
    50% {
        top: 50%;
        height: 50%;
    }
    75% {
        top: 50%;
        height: 50%;
    }
    100% {
        top: -200%;
        height: 50%;
    }
}

//Input Range

input[type=range] {
    -webkit-appearance: none;
    margin: 18px 0;
    width: 100%;
  }
  input[type=range]:focus {
    outline: none;
  }
  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    // background: #3071a9;
    border-radius: 1.3px;
    border: 0.2px solid #010101;
  }
  input[type=range]::-webkit-slider-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -14px;
  }
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: #367ebd;
  }
  input[type=range]::-moz-range-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: #3071a9;
    border-radius: 1.3px;
    border: 0.2px solid #010101;
  }
  input[type=range]::-moz-range-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
  }
  input[type=range]::-ms-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    border-width: 16px 0;
    color: transparent;
  }
  input[type=range]::-ms-fill-lower {
    background: #2a6495;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  }
  input[type=range]::-ms-fill-upper {
    background: #3071a9;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  }
  input[type=range]::-ms-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
  }
  input[type=range]:focus::-ms-fill-lower {
    background: #3071a9;
  }
  input[type=range]:focus::-ms-fill-upper {
    background: #367ebd;
  }


